.sidebar-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.side-button{
    width: 100%;
    border-color: black;
    border-style: solid;
    margin: 2px;
}

.active-button{
    background-color: cadetblue;
}