<mat-sidenav-container class="sidebar-container">

  <mat-sidenav #sidenav mode="side">
    <a mat-raised-button routerLink="income" class="side-button" routerLinkActive="active-button">Income</a>
    <br />
    <a mat-raised-button routerLink="outcome" class="side-button" routerLinkActive="active-button">Outcome</a>
    <br />
    <a mat-raised-button routerLink="flow" class="side-button" routerLinkActive="active-button">Flow</a>
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button mat-raised-button (click)="sidenav.toggle()">sidenav.toggle()</button>
    </p>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>