<mat-sidenav-container class="sidebar-container">

  <mat-sidenav #sidenav mode="side"  [(opened)]="opened" (opend)="events.push('open!')" (closed)="events.push('close')">

    <a routerLink="income">Income</a>
    <a routerLink="outcome">Outcome</a>
    <a routerLink="flow">Flow</a>

  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox>
    </p>
    <p>
      <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
    </p>
  </mat-sidenav-content>

</mat-sidenav-container>



<router-outlet></router-outlet>